/*TOOLS*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Nunito, sans-serif;
}
/* *****************************************************************
GENERALITIES
***************************************************************** */

/* Le corps du document */
body {
  font-family: sans-serif;
  color: #414141;
  background-color: #f9f9f9;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Le titre principal d'un flux */
h1 {
  font-size: 3rem;
  color: #f9f9f9;
  font-family: Fjalla One, sans-serif;
}

/* Le titre de second niveau  */
h2 {
  font-size: 2rem;
  color: #00748d;
  font-family: Fjalla One, sans-serif;
}

/* Le titre de troisème niveau */
h3 {
  font-size: 2rem;
  font-family: Fjalla One, sans-serif;
}

/* Les liens */
a {
  color: #dd5735;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #000;
}
/*CONTENU PRINCIPAL*/
main {
  padding: 2em;
}
article {
  background-color: #f9f9f9;
  padding: 1em;
}
ul {
  list-style: none;
  padding: 0;
}
/*CONTAINER*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

/* L'entête de la page */
.header {
  text-align: center;
  background-color: #00748d;
  color: #f9f9f9;
  padding: 1em;
}
.header h1 {
  margin: 0;
}
/* Le pied de page */
.footer {
  text-align: center;
  background-color: #444;
  padding: 2em;
  color: #f9f9f9;
}

/* *****************************************************************
VARIOUS
***************************************************************** */

/* Utile pour mettre en évidence un parent */
.parent {
  border: 1px dashed #dd5735;
}
.card,
.cards > * {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2em;
}
.gutter > * {
  margin: 1em;
}
.code {
  padding: 0.5em;
  font-family: Monaco, monospace;
  font-size: 1.4rem;
  color: black;
  background-color: #ddd;
  border: 1px solid #bbb;
}
/* *****************************************************************
TABLE
***************************************************************** */
table {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border-collapse: collapse;
}
th {
  text-align: center;
}
thead {
  border-bottom: 2px solid #999;
}
tfoot {
  border-top: 2px solid #999;
}
tfoot td {
  font-weight: bold;
  text-align: center;
}
th,
td {
  padding: 1em;
  border: 1px solid #ddd;
}
tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* *****************************************************************
FORM
***************************************************************** */
.field {
  display: flex;
  padding: 1em 0;
}

.field label {
  width: 30%;
}

.field input {
  width: 70%;
}

.field + .field {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

fieldset {
  margin: 2em 0;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

legend {
  padding: 0 1em;
  font-size: 1.8rem;
}

label {
  padding: 0.5em;
}

.toolbar {
  text-align: center;
  margin: 2em 0;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  padding: 0.5em 1em;
}

select,
textarea {
  width: 100%;
}

textarea {
  display: block;
  min-height: 10em;
}

.submit-button {
  display: inline-block;
  padding: 1em 2em;
  font-size: 1.6rem;
  color: #fff;
  background-color: #dd5735;
  border: 2px solid #dd5735;
  border-radius: 0.5em;
  cursor: pointer;
}

.submit-button:hover {
  color: #dd5735;
  background-color: #fff;
}
