/*TOOLS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Nunito, sans-serif;
  color: #414141;
  background-color: #f9f9f9;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
  color: #f9f9f9;
  font-family: Fjalla One, sans-serif;
}
h2 {
  font-size: 2rem;
  color: #00748d;
  font-family: Fjalla One, sans-serif;
  text-align: center;
}
h3 {
  font-size: 2rem;
  font-family: Fjalla One, sans-serif;
}
/*CONTENU PRINCIPAL*/
main {
  padding: 2em;
  padding-top: 0;
}
article {
  background-color: #f9f9f9;
  padding: 1em;
}
ul {
  list-style: none;
  padding: 0;
}
.subTitre {
  margin-top: 3em;
  margin-bottom: 2em;
}
img {
  max-width: 100%;
  height: auto;
}
.hfH2 {
  color: #f9f9f9;
  margin: 0;
}
.tiret {
  color: #cb8606;
}
article {
  background-color: #f9f9f9;
  padding: 1em;
}
ul {
  list-style: none;
  padding: 0;
}
.cards > * {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2em;
}
/*CONTAINER*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}
/*Header*/
header {
  display: flex;
  align-items: center;
  background-color: #00748d;
  padding: 1em;
  max-width: 100%;
  justify-content: space-between;
  background-image: url(../images/path.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto;
  color: #f9f9f9;
}
.archi {
  display: flex;
  margin-left: 20%;
  align-items: center;
}
.archi img {
  width: 240px;
  height: 50px;
  padding: 0.5em;
}
.home-menu {
  display: flex;
  margin-right: 20%;
  font-family: Fjalla One, sans-serif;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu a {
  padding: 1em;
  color: #f9f9f9;
  text-decoration: none;
}
.menu a:hover {
  color: #00748d;
  background-color: #f9f9f9;
}
/*Sections*/

/*Under Header*/
.underHeader {
  background-image: url(../images/bg-header.jpg);
  margin-bottom: 3em;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-size: cover;
  background-position: center;
  justify-items: center;
  align-items: center;
  position: relative;
}
.uhH1 {
  text-transform: uppercase;
  color: #f9f9f9;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cb8606;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.uhH3 {
  color: #00748d;
  background-color: #f9f9f9;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*Prestations*/
.prestations {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}
.cards-prestations {
  background-color: #f9f9f9;
}
.cards-prestations i {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  align-items: center;
  background-color: #cb8606;
  color: #f9f9f9;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 70px;
  height: 70px;
}
.prestations h3 {
  text-align: center;
  background-color: #f9f9f9;
  margin-bottom: 1em;
}
.prestations .eSp {
  background-color: #00748d;
  color: #f9f9f9;
  text-align: center;
}
/*Partenaires*/
.prestataires {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.partners {
  border: 2px solid #00748d;
  margin: 1em;
  height: 200px;
  width: 200px;
  background-color: #f9f9f9;
}
/*Footer*/
.footer {
  text-align: center;
  background-color: #444;
  padding: 2em;
  color: #f9f9f9;
}
/*overFooter*/

.overFooter {
  background-color: #00748d;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/path.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto;
  color: #f9f9f9;
}
.socialNetwork {
  display: flex;
  margin-right: 20%;
  background-color: #00748d;
  color: #f9f9f9;
}
.socialNetwork i {
  margin: 0.3em;
}
/*Media Queries*/

/*Tablette*/
@media screen and (max-width: 990px) {
  body {
    flex-wrap: wrap;
    max-width: 990px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  article {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hfH2 {
    text-align: center;
  }
  .archi {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  .home-menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .underHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uhH1 {
    text-align: center;
  }
  .uhH3 {
    text-align: center;
  }
  .prestations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .subTitre {
    display: flex;
    justify-content: center;
  }
  .prestataires {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .overFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }
  .socialNetwork {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
  }
}

/*Mobile*/
@media screen and (max-width: 680px) {
}

/*Petit Mobile*/
@media screen and (max-width: 630px) {
}
/*REALISATIONS*/
.h1Rea {
  text-align: center;
  margin-bottom: 1em;
  color: #cb8606;
}
.box {
  display: flex;
  
  
}