
/* *****************************************************************
TOOLS
***************************************************************** */

body * {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

/* *****************************************************************
GENERALITES
***************************************************************** */
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/nunito-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-v24-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/nunito-v24-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-v24-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-v24-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-v24-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-v24-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-v24-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* fjalla-one-regular - latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fjalla-one-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/fjalla-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fjalla-one-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fjalla-one-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fjalla-one-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fjalla-one-v13-latin-regular.svg#FjallaOne') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Nunito', sans-serif;
	color: #414141;
	font-size: 1.8rem;
	background-color: #ededed;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

h1,
h2,
h3,
h4,
nav,
.logo strong{
	font-family: 'Fjalla One', sans-serif;
}

a {
	text-decoration: none;
}

p {
	margin: 0 0 1.5rem 0;
}

ul {
	padding-left: 0;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

/* *****************************************************************
HEADER
***************************************************************** */

header {
	background: url(../img/path.png) repeat-x 0 bottom #00748D;
	color: white;
}

header .wrapper {
	padding: 1em;
}

header img {
	margin-right: .5rem;
}

strong {
	font-size: 2.2rem;
	font-weight: normal;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: white;
}

nav ul {
	display: flex;
	list-style: none;
	font-size: 2rem;
}

nav li a {
	padding: .5em 1em;
	margin-left: 2rem;
}

nav li a:hover, .current {
	background-color: #fff;
	color: #00748D;
}

/* *****************************************************************
MAIN
***************************************************************** */

.intro {
	background: url(../img/bg-header.jpg) left center;
	background-size: cover;
	padding: 10em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	background-color: #CB8606;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
	margin-bottom: 3rem;
	padding: .5em 1em;
}

.intro p {
	background-color: white;
	color: #00748D;
	font-weight: bold;
	font-size: 2rem;
	padding: .5em 2em;
}

/********** articles **********/

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1em;
}

h2 {
	font-size: 2.5rem;
	color: #00748D;
	text-align: center;
	margin: 4rem 0 3rem 0;
	flex: 1 0 100%;
}

h2::before,
h2::after {
	content: "-";
	padding: 0 1rem;
	color: #CB8606;
}

article {
	line-height: 1.5;
	background-color: #ededed;
}

h3 {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3::before {
	font-family: "FontAwesome";
	font-weight: 600;
	font-size: 3rem;
	background-color: #CB8606;
	color: white;
	padding: .5em 1em;
	margin-bottom: 2rem;
}

.charges::before {
	content: "\f02d";
}

.shopping::before {
	content: "\f07a";
}

.suivi::before {
	content: "\f00c";
}

.cle::before {
	content: "\f084";
}

article,
.partners {
	width: 23%;
}

.partners {
	text-align: center;
}

.partners img {
	border: 3px solid #00748D;
}

.plus {
	background-color: #00748D;
	color: white;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: .5em 1em;
	margin: 2rem 3rem;
}

/* *****************************************************************
FOOTER
***************************************************************** */

footer {
	background: url(../img/path.png) repeat-x #00748D;
	background-position: 0 bottom;
	margin-top: 5rem;
}

footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 1em;
}

footer img {
	margin-right: 1rem;
}

footer a {
	color: white;
}

.reseaux {
	display: flex;
}

.reseaux a {
	margin: 0 1rem;
	font-size: 3rem;
}

.reseaux a:hover,
.reseaux a:focus {
	color: #CB8606;
}

/* *****************************************************************
LICENSE
***************************************************************** */

.license {
	padding: 2em;
	text-align: center;
	color: #fff;
	background-color: #444;
	font-size: 1.4rem;
}

.license img {
	width: 65px;
	height: auto;
}

.license a {
	text-decoration: underline;
	color: white;
}

/* *****************************************************************
PAGES INTERIEURES
***************************************************************** */
.real,
.actu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.real section,
.actu section {
	width: 74%;
}

.real h1,
.actu h1 {
	background-color: transparent;
	color: #CB8606;
	text-align: center;
}

.real h1::before,
.real h1::after,
.actu h1::before,
.actu h1::after {
	content:" - ";
	color: #00748D;
}

aside {
	width: 24%;
	font-size: 1.6rem;
	margin-right: 2rem;
}

.real h2 {
	margin: 1.5rem 0;
}

.comments,
.tweets {
	padding: 1em .5em 1em 1em;
	background-color: #ededed;
}

.scroll {
	height: 500px;
	overflow: auto;
	padding-right: 1rem;
}

blockquote {
	margin: 3rem 0;
}

q {
	display: flex;
}

q::before {
	content: url(../img/quote.png);
	margin-right: 1rem;
}

cite {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	color: #00748D;
	font-size: 1.4rem;
	font-weight: bold;
}

cite::before {
	content: url(../img/client.png);
	margin-right: 1.5rem;
}

hr {
	border: 1px solid #CB8606;
	margin: 0 10rem;
}

.tweets {
	padding: 2rem;
}

.tweets li {
	margin: 2rem 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: help;
}

.tweets li::before {
	content: url(../img/circle.png);
	margin-right: 1rem;
}

/* *****************************************************************
PAGE REALISATIONS
***************************************************************** */

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.portrait {
	grid-row: span 2;
}

.gallery img {
	align-self: stretch;
	justify-self: stretch;
	object-fit: cover;
	border: #00748D 3px solid;
}

/* *****************************************************************
PAGE ACTUALITES
***************************************************************** */

.actu section h1 {
	flex: 1 0 100%;
}

.actu article {
	width: 100%;
	margin-bottom: 5rem;
}

.actu picture {
	float: left;
	margin-right: 1rem;
	width: 50%;
}

.actu .plus {
	display: inline-block;
	margin-left: 0;
}

/* *****************************************************************
TABLETTE
***************************************************************** */

@media screen and (max-width: 990px) {
	nav {
		margin-top: 3rem;
		flex-direction: column;
		align-items: center;
	}
	nav ul {
		margin-top: 5rem;
		justify-content: space-around;
		width: 100%;
	}
	.logo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	strong {
		margin-top: 1rem;
	}
	article,
	.partners {
		width: 49%;
		margin-bottom: 4rem;
	}
	.plus {
		margin: 2rem 5rem;
	}
	.real,
	.actu {
		flex-direction: column;
	}
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
	.real section,
	.actu section,
	aside {
		width: 100%;
	}
	aside {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 2em;
	}
	.comments {
		width: 32%;
		padding-right: .5em;
	}
	.scroll {
		height: 400px;
	}
	.tweets {
		width: 60%;
		padding: .5em 1em;
	}
	footer .logo {
		flex-direction: row;
		align-items: baseline;
	}
}

/* *****************************************************************
MOBILE
***************************************************************** */

@media screen and (max-width: 680px) {
	.intro p {
		font-size: 2rem;
		margin: 0 8rem;
		padding: 1rem;
		text-align: center;
	}

	.actu picture {
		float: none;
		margin-right: 0;
	}
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
	aside {
		flex-direction: column;
	}
	.comments,
	.tweets {
		width: 100%;
	}
	footer .wrapper {
		flex-direction: column-reverse;
	}
	footer .logo {
		flex-direction: column;
		align-items: center;
	}
	.reseaux {
		margin-bottom: 3rem;
	}
}

/* *****************************************************************
PETITS MOBILES
***************************************************************** */

@media screen and (max-width: 630px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}
	nav li {
		width: 100%;
	}
	nav li a {
		display: block;
		text-align: center;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		margin-left: 0;
	}
	nav li a:hover {
		border-top: 1px solid #00748D ;
		border-bottom: 1px solid #00748D ;
	}
	article,
	.partners {
		width: 100%;
	}
	.plus {
		margin: 2rem 10rem;
	}
	.real h1, .actu h1 {
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 0;
	}
	.actu h2 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	}
	.gallery {
		grid-template-columns: 100%;
	}
}