body {
  background-image: url(../images/phare.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  padding: 4em;
}
article {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
}
section img {
  max-width: 100%;
  height: auto;
}
section {
  width: 48%;
}
